.no-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-page h1{
  padding: 1rem;
  background-color: aliceblue;
  text-align: center;
}